@import '../../assests/styles/variables.scss';

.conversation {
    width: calc(100% - 280px);
    height: calc(100vh - 145px);
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    &__messages {
        width: 100%;
        display: flex;
        flex-direction: column;
        height: calc(100% - 41px);
        overflow: scroll;
    }
    &__send {
        //position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        width: 100%;
        input {
            width: calc(100% - 70px);
            height: 38px;
            padding: 0 0 0 10px;
            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
            border: 0.5px solid #e6d9d8;
            background: none;
        }
        button {
            background: $primary;
            border: none;
            width: 70px;
            height: 40px;
        }
        &_dark {
            input {
                color: #fff;
            }
            button {
                background: $primaryDark;
                color: #fff;
            }
        }
    }
}